<template>
  <!--Show Survey-->
  <md-card if.bind="survey.questions.length > 0" >

    <h3>Evaluation of ${survey.questionnaireType}</h3>

    <div>
      <div repeat.for="question of survey.questions">
        <h6>${question.text}</h6>
        <input if.bind="question.questionType === 'text'" id="text${question._id}" >

        <div  if.bind="question.questionType === 'checkbox'" >
          <div  repeat.for="option of question.options">
            <md-checkbox class="checkbox${question._id}" md-gap="true" md-name="myGapOption" md-value="option" >${option}</md-checkbox>
          </div>
        </div>

        <div  if.bind="question.questionType === 'radio'" >
          <div  repeat.for="option of question.options">
            <md-radio md-gap="true" md-name="myGapOption" md-value="option" >${option}</md-radio>
          </div>
        </div>
      </div>
    </div>

    <button class="right" md-button="large: true;" click.delegate="saveSurvey()"><i class="left material-icons">check</i>Save</button>

  </md-card>

</template>
