<template>

  <h5>New evaluation</h5>

  <button if.bind="isManualCreation" class="right" md-button="large: true;" click.delegate="saveSurvey()" ><i class="left material-icons">save</i>Save survey</button>

  <div if.bind="!isManualCreation" class="button-row">
    <button md-button="large: true;" click.delegate="switchToManually()" ><i class="left material-icons">mode_edit</i>Create manually</button>
  </div>

  <div if.bind="isManualCreation">
    <div>
      <select md-select="label: Select survey type" value.two-way="type" >
        <option value="" disabled selected>select evaluation type</option>
        <option value="docente">Docente</option>
        <option value="coordenador">Coordenador</option>
        <option value="infraestrutura">Infraestrutura</option>
      </select>


      <!--Show Survey-->
      <md-card if.bind="questions.length > 0">

        <div>
          <div repeat.for="question of questions">
            <h6>${question.text}</h6>
            <input if.bind="question.questionType === 'text'" >

            <div  if.bind="question.questionType === 'checkbox'" >
              <div  repeat.for="option of question.options">
                <md-checkbox md-gap="true" md-name="myGapOption" md-value="option" >${option}</md-checkbox>
              </div>
            </div>

            <div  if.bind="question.questionType === 'radio'" >
              <div  repeat.for="option of question.options">
                <md-radio md-gap="true" md-name="myGapOption" md-value="option" >${option}</md-radio>
              </div>
            </div>
          </div>
        </div>

      </md-card>

      <md-input md-label="Insert question" md-value.bind="textQuestion"></md-input>

      <p style="font-weight: bold;">Answer type</p>
      <p>
        <md-radio md-gap="true" md-name="myGapOption" md-value="text" md-checked.bind="answerType" change.delegate="markAnswerType()">Text</md-radio>
        <md-radio md-gap="true" md-name="myGapOption" md-value="radio" md-checked.bind="answerType" change.delegate="markAnswerType()">One choice</md-radio>
        <md-radio md-gap="true" md-name="myGapOption" md-value="checkbox" md-checked.bind="answerType" change.delegate="markAnswerType()">Multiple choice</md-radio>
      </p>


      <div  if.bind="showRadioOptions">

        <div  repeat.for="option of answerOptions">
          <md-radio md-gap="true" md-name="myGapOption" md-value="option" >${option}</md-radio>
        </div>

      </div>

      <div  if.bind="showCheckboxOptions" >

        <div  repeat.for="option of answerOptions" if.bind="showCheckboxOptions">
          <md-checkbox md-gap="true" md-name="myGapOption" md-value="option" >${option}</md-checkbox>
        </div>

      </div>

      <div if.bind="showInputOptionText">
        <md-input md-label="Type option" md-value.bind="currentAnswerOption">
          <i md-prefix class="small material-icons" click.delegate="addAnswerOption()">add_circle_outline</i>
        </md-input>
      </div>

      <button class="right" md-button="large: true;" click.delegate="addQuestion()" ><i class="left material-icons">check</i>Add question</button>
      <button style="background-color: #e57373" class="right" md-button="large: true;"><i class="left material-icons" click.delegate="returnToMainOptions()">cancel</i>Cancel</button>
    </div>
  </div>

  <div if.bind="!isManualCreation" >
    <md-file md-caption="upload file" view-model.ref="fileInput" md-label-value.bind="labelValue"></md-file>

    <div if.bind="selectedFile">
      selected file: ${selectedFile.name} (${selectedFile.size} bytes)
    </div>
  </div>


</template>
