<template>
  <require from="materialize-css/dist/css/materialize.css"></require>
  <md-colors md-primary-color="#009688" md-accent-color="#26a69a"></md-colors>
  <md-navbar>
    <div class="container">
      <a href="#/samples/navbar" class="brand-logo">
        <span>Anhembi Morumbi</span>
      </a>
      <ul class="hide-on-med-and-down right">
        <li md-waves><a>About</a></li>
        <li md-waves><a>Survey</a></li>
        <li md-waves><a>Logout</a></li>
      </ul>
    </div>
  </md-navbar>

  <div class="container">
    <router-view></router-view>
  </div>
</template>
